table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
}

th {
    border: 2px solid black;
    width: 15%;
    height: 50px;
}

td {
    border: 2px solid black;
    text-align: center;
    height: 50px;
}

.number {
    width: 3%;
}